<a href="https://colab.research.google.com/github/Mjcherono/TrialProjects/blob/main/Copy_of_Python_Programming_Ridge_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Ridge Regression

## 1.0 Example

In [ ]:
# Example 
# ---
# Regularization is the process of penalizing coefficients of variables either by removing them and or reducing their impact. 
# Ridge regression reduces the effect of problematic variables close to zero but never fully removes them. 
# ---
# Question: Build a regrssion model to predict expenses based on the variables available.
# ---
# Dataset source: Pydataset Library: VietNamI Dataset
# ---
#

In [1]:
# Importing our libraries
# 
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# installing !pip install pydataset and importing pydataset so as to use a dataset from the package
# 
!pip install pydataset
from pydataset import data

Collecting pydataset
  Downloading https://files.pythonhosted.org/packages/4f/15/548792a1bb9caf6a3affd61c64d306b08c63c8a5a49e2c2d931b67ec2108/pydataset-0.2.0.tar.gz (15.9MB)
     |████████████████████████████████| 15.9MB 308kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pydataset) (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pydataset) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pydataset) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->pydataset) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-cp36-none-any.whl size=15939431 sha256=2ea2f3b432e6cfa8b41ea00f1261adbf36300571d7a98fb2b1b6c103e91c616e
  Stored in directory: /root/.cache/pip/wheels/fe/3f/dc/5d02ccc767317191b12d042dd920fcf3432fab74bc7978598b
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
initiated datasets repo at: /root/.pydataset/

In [4]:
# Data Preparation
# 

# Loading the data and convert the sex variable to a dummy variable
#
df = pd.DataFrame(data('VietNamI'))
df.loc[df.sex== 'male', 'sex'] = 0
df.loc[df.sex== 'female','sex'] = 1
df['sex'] = df['sex'].astype(int)

# Setting up our X and y datasets
#
X = df[['pharvis','age','sex','married','educ','illness','injury','illdays','actdays','insurance']]
y = df['lnhhexp']

In [5]:
# Creating our baseline regression model
# This is a model that has no regularization to it
# 
regression = LinearRegression()
regression.fit(X,y)
first_model = (mean_squared_error(y_true=y,y_pred=regression.predict(X)))
print(first_model)

# The output  value of 0.355289 will be our indicator to determine if the regularized ridge regression model is superior or not.

0.35528915032173053

In [7]:
# In order to create our ridge model we need to first determine the most appropriate value for the l2 regularization. 
# L2 is the name of the hyperparameter that is used in ridge regression. 
# Determining the value of a hyperparameter requires the use of a grid. 
# In the code below, we first create our ridge model and indicate normalization in order to get better estimates. 
# Next we setup the grid that we will use. 
# The search object has several arguments within it. Alpha is hyperparameter we are trying to set. 
# The log space is the range of values we want to test. 
# We want the log of -5 to 2, but we only get 8 values from within that range evenly spread out. 
# Are metric is the mean squared error. Refit set true means to adjust the parameters while modeling 
# and cv is the number of folds to develop for the cross-validation. 
#
ridge = Ridge(normalize=True)
search = GridSearchCV(estimator=ridge,param_grid={'alpha':np.logspace(-5,2,8)},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)

In [8]:
# We now use the .fit function to run the model and then use the .best_params_ and
#  .best_scores_ function to determine the models strength. 
# 
search.fit(X,y)
search.best_params_


# The best_params_ tells us what to set alpha too which in this case is 0.01. 
# The best_score_ tells us what the best possible mean squared error is. 
# In this case, the value of 0.38 is worse than what the baseline model was.

{'alpha': 0.01}

In [9]:
{'alpha': 0.01}
abs(search.best_score_)

0.3801325693754135

In [10]:
# We can confirm this by fitting our model with the ridge information and finding the mean squared error below
#
ridge = Ridge(normalize=True,alpha=0.01)
ridge.fit(X,y)
second_model = (mean_squared_error(y_true=y,y_pred=ridge.predict(X)))
print(second_model)

0.35529321992606566

In [11]:
# The 0.35 is lower than the 0.38. This is because the last results are not cross-validated. 
# In addition, these results indicate that there is little difference between the ridge and baseline models. 
# This is confirmed with the coefficients of each model found below.
# 
coef_dict_baseline = {}
for coef, feat in zip(regression.coef_,data("VietNamI").columns):
    coef_dict_baseline[feat] = coef
coef_dict_baseline

# The coefficient values are about the same. This means that the penalization made little difference with this dataset.

{'actdays': 0.14687843649771118,
 'age': 0.004012412278795916,
 'educ': -0.061809213006002894,
 'illdays': -0.00671706331089311,
 'illness': 0.040870384578962575,
 'injury': -0.002763768716569033,
 'lnhhexp': 0.06480086550467881,
 'married': 0.07527646383836208,
 'pharvis': 0.013282050886950836,
 'sex': -0.08739614349709002}

## 2.0 Challenges

### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1 
# ---
# Question: Build an accurate model that can estimate the weight of fish given the following dataset.
# ---
# Dataset url = http://bit.ly/FishDataset
# ---
#

### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Build a regression algorithm for predicting unemployment within an economy.
# ---
# Dataset url = http://bit.ly/EconomicDataset
# ---
# Dataset Info
# 1. date. Month of data collection
# 2. psavert, personal savings rate
# 3. pce, personal consumption expenditures, in billions of dollars
# 4. unemploy, number of unemployed in thousands 
# 5. empmed, median duration of unemployment, in week
# 6. pop, total population, in thousands
# ---
#

### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Build a regression model to predict the life expectancy of a country. 
# Apply ridge regression to your model.
# ---
# Dataset url = http://bit.ly/LifeExpectancyDataset
# ---
# Dataset Info:
# Country: Country
# Year: Year
# Status: Developed or Developing status
# Life expectancy: Life Expectancy in age
# Adult Mortality: Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)
# infant deaths: Number of Infant Deaths per 1000 population
# Alcohol: Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)
# percentage expenditure: Expenditure on health as a percentage of Gross Domestic Product per capita(%)
# Hepatitis B: Hepatitis B (HepB) immunization coverage among 1-year-olds (%)
# Measles: Measles: number of reported cases per 1000 population
# BMI: Average Body Mass Index of entire population
# under-five: deaths Number of under-five deaths per 1000 population
# Polio: Polio (Pol3) immunization coverage among 1-year-olds (%)
# Total expenditure: General government expenditure on health as a percentage of total government expenditure (%)
# Diphtheria: Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)
# HIV/AIDS: Deaths per 1 000 live births HIV/AIDS (0-4 years)
# GDP: Gross Domestic Product per capita (in USD)
# Population: Population of the country
# thinness 1-19 years: Prevalence of thinness among children and adolescents for Age 10 to 19 (% )
# thinness 5-9 years: Prevalence of thinness among children for Age 5 to 9(%)
# Income composition of resources: Human Development Index in terms of income composition of resources (index ranging from 0 to 1)
# Schooling: Number of years of Schooling(years)
# ---
# 
dataset = pd.read_csv('http://bit.ly/LifeExpectancyDataset')
dataset

          Country  Year  ... Income composition of resources  Schooling
0     Afghanistan  2015  ...                           0.479       10.1
1     Afghanistan  2014  ...                           0.476       10.0
2     Afghanistan  2013  ...                           0.470        9.9
3     Afghanistan  2012  ...                           0.463        9.8
4     Afghanistan  2011  ...                           0.454        9.5
...           ...   ...  ...                             ...        ...
2933     Zimbabwe  2004  ...                           0.407        9.2
2934     Zimbabwe  2003  ...                           0.418        9.5
2935     Zimbabwe  2002  ...                           0.427       10.0
2936     Zimbabwe  2001  ...                           0.427        9.8
2937     Zimbabwe  2000  ...                           0.434        9.8

[2938 rows x 22 columns]

In [ ]:
dataset.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
dataset.Status.nunique()

2

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.Status = le.fit_transform(dataset.Status)

In [ ]:
dataset.head()

       Country  Year  ...  Income composition of resources  Schooling
0  Afghanistan  2015  ...                            0.479       10.1
1  Afghanistan  2014  ...                            0.476       10.0
2  Afghanistan  2013  ...                            0.470        9.9
3  Afghanistan  2012  ...                            0.463        9.8
4  Afghanistan  2011  ...                            0.454        9.5

[5 rows x 22 columns]

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
dataset.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
dataset.drop(['Year','Country'],axis=1, inplace=True)

In [ ]:
X = dataset.drop(['Life expectancy '], axis=1).values
y = dataset['Life expectancy '].values

In [ ]:
# Creating our baseline regression model
# This is a model that has no regularization to it
# 
regression = LinearRegression()
regression.fit(X,y)
first_model = (mean_squared_error(y_true=y,y_pred=regression.predict(X)))
print(first_model)

12.716850743925292

In [ ]:
ridge = Ridge(normalize=True)
search = GridSearchCV(estimator=ridge,param_grid={'alpha':np.logspace(-5,2,8)},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)

In [ ]:
# We now use the .fit function to run the model and then use the .best_params_ and
#  .best_scores_ function to determine the models strength. 
# 
search.fit(X,y)
search.best_params_

{'alpha': 0.001}

In [ ]:
{'alpha': 0.001}
abs(search.best_score_)

14.777769590017687

In [ ]:
# We can confirm this by fitting our model with the ridge information and finding the mean squared error below
#
ridge = Ridge(normalize=True,alpha=0.01)
ridge.fit(X,y)
second_model = (mean_squared_error(y_true=y,y_pred=ridge.predict(X)))
print(second_model)

13.12239965440855

In [ ]:
#This is confirmed with the coefficients of each model found below.

coef_dict_baseline = {}
for coef, feat in zip(regression.coef_,dataset.columns):
    coef_dict_baseline[feat] = coef
coef_dict_baseline

{' BMI ': -0.07034836298213208,
 ' HIV/AIDS': 8.737937804373631e-06,
 ' thinness  1-19 years': -0.0479835557362993,
 ' thinness 5-9 years': 9.816570360265555,
 'Adult Mortality': 0.09349970617458893,
 'Alcohol': 0.00036733633409008384,
 'Diphtheria ': -0.43696404583348436,
 'GDP': -6.424645384063883e-10,
 'Hepatitis B': -7.86543446443106e-06,
 'Income composition of resources': 0.8665032278640105,
 'Life expectancy ': -0.01663173816823154,
 'Measles ': 0.03375564537974602,
 'Polio': 0.07585822196869278,
 'Population': -0.012384985214519383,
 'Status': -0.9683667823225267,
 'Total expenditure': 0.014899327244735796,
 'infant deaths': -0.09139500777086376,
 'percentage expenditure': -0.0065246469528290685,
 'under-five deaths ': 0.007935253847504814}

### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Given the beauty dataset below, create a regression model to predict wages upon applying ridge regression.
# ---
# Dataset url = http://bit.ly/BeautyDataset
# ---
# 
wages = pd.read_csv('http://bit.ly/BeautyDataset')
wages

       wage  exper  union  goodhlth  ...  married  service  educ  looks
0      5.73     30      0         1  ...        1        1    14      4
1      4.28     28      0         1  ...        1        0    12      3
2      7.96     35      0         1  ...        0        0    10      4
3     11.57     38      0         1  ...        1        1    16      3
4     11.42     27      0         1  ...        1        0    16      3
...     ...    ...    ...       ...  ...      ...      ...   ...    ...
1255   1.61     25      0         1  ...        0        1    12      3
1256   1.68      4      0         1  ...        1        1    12      2
1257   3.29     35      0         1  ...        0        1    12      3
1258   2.31     15      0         1  ...        1        1    10      3
1259   1.92     24      0         0  ...        0        1    16      3

[1260 rows x 10 columns]

### <font color="green">Challenge 5</font>

In [ ]:
# Challenge 5
# ---
# Create a regression model to predict sales prices. 
# Apply regularization techniques.
# ---
# Dataset source = http://bit.ly/HousePricesDataset
# ---
# 
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [ ]:
train

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [ ]:
#train.drop(['Alley','PoolQC','Fence','MiscFeature','FireplaceQu','LotFrontage'],axis=1,inplace=True)

In [ ]:
#train

In [ ]:
train.dropna(axis=1,inplace=True)
train.head(3)

   Id  MSSubClass MSZoning  LotArea  ... YrSold SaleType SaleCondition SalePrice
0   1          60       RL     8450  ...   2008       WD        Normal    208500
1   2          20       RL     9600  ...   2007       WD        Normal    181500
2   3          60       RL    11250  ...   2008       WD        Normal    223500

[3 rows x 62 columns]

In [ ]:
train.SaleType.nunique()

9

In [ ]:
train.SaleCondition.nunique()

6

In [ ]:
label_object = {}
categorical_columns = ['MSZoning','Street','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1',
                       'Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','ExterQual','ExterCond',
                       'Foundation','Heating','HeatingQC','CentralAir','KitchenQual','Functional','PavedDrive','SaleType','SaleCondition']
for col in categorical_columns:
  labelencoder = LabelEncoder()
  labelencoder.fit(train[col])
  train[col] = labelencoder.fit_transform(train[col])
  label_object[col] = labelencoder

#label_object['Product'].inverse_transform(df['Product'])

In [ ]:
train.head(5)

   Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0   1          60         3  ...         8              4     208500
1   2          20         3  ...         8              4     181500
2   3          60         3  ...         8              4     223500
3   4          70         3  ...         8              0     140000
4   5          60         3  ...         8              4     250000

[5 rows x 62 columns]

In [ ]:
X = train.drop(['SalePrice','Id'],1).values
y = train['SalePrice'].values

In [ ]:
regression = LinearRegression()
regression.fit(X,y)
first_model = (mean_squared_error(y_true=y,y_pred=regression.predict(X)))
print(first_model)

ridge = Ridge(normalize=True)
search = GridSearchCV(estimator=ridge,param_grid={'alpha':np.logspace(-5,2,8)},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)

# We now use the .fit function to run the model and then use the .best_params_ and
#  .best_scores_ function to determine the models strength. 
# 
search.fit(X,y)
search.best_params_

1024435532.5778818

{'alpha': 0.1}

In [ ]:
{'alpha': 0.1}
abs(search.best_score_)

1196316462.7635846

In [ ]:
# We can confirm this by fitting our model with the ridge information and finding the mean squared error below
#
ridge = Ridge(normalize=True,alpha=0.01)
ridge.fit(X,y)
second_model = (mean_squared_error(y_true=y,y_pred=ridge.predict(X)))
print(second_model)

1024664169.0159818

In [ ]:
#This is confirmed with the coefficients of each model found below.

coef_dict_baseline = {}
for coef, feat in zip(regression.coef_,dataset.columns):
    coef_dict_baseline[feat] = coef
coef_dict_baseline

{' BMI ': 8587.171516253073,
 ' HIV/AIDS': -786.4138171907186,
 ' thinness  1-19 years': 270.7297216804579,
 ' thinness 5-9 years': 23.34879441227352,
 'Adult Mortality': 0.34854294962170873,
 'Alcohol': -1090.6952823197869,
 'Diphtheria ': -2358.1009943666045,
 'GDP': 12546.016706165667,
 'Hepatitis B': -42868.617244002315,
 'Income composition of resources': 2450.068329372608,
 'Life expectancy ': 76.85622969734015,
 'Measles ': -2.6225653641216624,
 'Polio': -718.4883224334596,
 'Population': 4097.633646829206,
 'Schooling': 4582.137606040747,
 'Status': -82.12653061894909,
 'Total expenditure': -8791.613278051527,
 'infant deaths': 32261.2905660213,
 'percentage expenditure': 3211.741532964122,
 'under-five deaths ': 441.3795427545775}